<!-- Form handaling -->
<form id="add_user" action="/api/users" method="POST">
    <div class="new_user">
        <div class="form-group">
            <label for="bssid" class="text-light">Bssid</label>
            <input type="text" name="bssid" placeholder="bss2022001" value="">
            <input type="hidden" name="id" placeholder="" value="">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="text" name="name" placeholder="Ayush Raiyani" value="">
        </div>
        <div class="form-group">
            <label for="mobile" class="text-light">Mobile No.</label>
            <input type="number" name="mobile" placeholder="9865342855" value="">
        </div>

        <div class="form-group">
            <label for="attendance" class="text-light">Attendance</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="attendance" value="P">
                <label for="radio-4" class="radio-label">present</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="attendance" value="A">
                <label for="radio-5" class="radio-label">Absent</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>